.navbar {
  overflow: hidden;
  background-color:white;
  display: flex;
  align-items: center;
  list-style: none;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align:right;
  padding: 14px 16px;
  text-decoration: none;
  
}
.item { 
  flex: 1;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body img {
  
  width: 80%;
  image-rendering: auto;
  
}
.image {
  flex-basis: 70%;
  order: 2;
  flex: 2;

}
.text {
  color:black;
  padding-left: 20px;
  font:  20px 'Times New Roman', Times, serif;
  flex: 1;
}
.text .header {
  width: 70%;
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  display: inline-block;
   background-color: white;
  border-radius: 20px;
  border: 4px  black;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 100px;
    
  
}
button{
  display: inline-block;
   background-color: #19171c; 
  border-radius: 20px;
  border: 4px  #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
 -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
  cursor: pointer;
  margin: 20px;
}
.brands {
  margin: 10px auto;
  display: flex;
}
/* .col-5 {
  width: 10px;
} */
.col-5 img {
  width: 70%;
  cursor: pointer;
  filter: grayscale(100%);
}

Navbar container
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family:'Times New Roman', Times, serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

/* Dropdown content  */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
